<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <head>
        <meta charset="UTF-8">
        <title>Header</title>
        <link rel="stylesheet" href="/static/css/header.css" th:href="@{/static/css/header.css}">
        <style>
            .id-display {
                font-size: 20px;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <div class="background-container">
            <div class="container">
                <a th:href="@{/main}">
                    <img src="/static/img/logo.png" alt="Logo" class="logo">
                </a>
                <div class="search-container">
                    <div class="left-icon">
                        <img src="/static/img/search_icon.png" alt="Search Icon">
                    </div>
                    <input type="text" id="search-input" class="search-input" placeholder="Search...">
                    <button class="search-button" onclick="search()">Search</button>
                </div>
                <div class="button-container">
                    <span class="id-display" >
                        <span th:if="${#httpServletRequest.getSession().getAttribute('id') != null}">
                            <a th:href="'/member/profile'">
                                <span id=memberId th:text="${#httpServletRequest.getSession().getAttribute('id')}"></span>
                            </a>
                            &nbsp;&nbsp;
                            <button class="logout-button" onclick="logout()">Logout</button>
                        </span>
                        <span th:if="${#httpServletRequest.getSession().getAttribute('id') == null}">
                            <a th:href="@{/login}">
                                <button class="login-button">Login</button>
                            </a>
                        </span>
                </span>

                    <button class="signup-button"
                        th:if="${#httpServletRequest.getSession().getAttribute('id') == null}">
                        Signup
                    </button>
                </div>
            </div>
        </div>

        <script>
            function search() {
                const searchText = document.getElementById('search-input').value;
                const encodedSearchText = encodeURIComponent(searchText);

                fetch('http://localhost:8080/post/search?title=' + encodedSearchText)
                    .then(response => response.json())
                    .then(data => {
                        const posts = extractPosts(data);
                        renderPosts(posts);
                        console.log(data);
                        const totalPages = data.totalPages;
                        renderPagination(totalPages, data.number, encodedSearchText);
                        updateAllQuestionsText(data.totalElements);
                    })
                    .catch(error => console.error('Error searching:', error));
            }

            // function logout() {
            //     fetch('http://localhost:8080/logout', {
            //         method: 'GET'
            //     })
            //         .then(response => {
            //             if (response.ok) {
            //                 window.location.href = 'http://localhost:8080/main';
            //             } else {
            //                 console.error('Logout failed.');
            //             }
            //         })
            //         .catch(error => console.error('Error during logout:', error));
            // }
            function logout() {
                console.log("logout button!");
                const memberId = document.getElementById('memberId').innerText;

                $.ajax({
                    type: "GET",  // Change this to the appropriate HTTP method
                    url: "/logout",  // Adjust the URL for your logout endpoint
                    success: function(response) {
                        alert('안녕히 가세요 ' + memberId + '님');
                        window.location.href = '/main';
                    },
                    error: function() {
                        alert('로그아웃 요청 실패');
                        window.location.href = '/main';
                    }
                });
            }
        </script>
    </head>
</th:block>
<body>
</body>

</html>
